<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Some headers to remove defined here as they're added by IIS, and therefore can't be managed in middleware -->
        <remove name="X-Powered-By" />
        <remove name="X-SourceFiles" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
      </customHeaders>
    </httpProtocol>
    <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
    </httpCompression>
    <security>
      <requestFiltering allowDoubleEscaping="true" removeServerHeader="true">
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>